In [2]:
import time
import random
import pandas as pd
# numbers stored
num_list = []
for i in range(100000):
    num_list.append(random.randint(1, 989999999))

# string stored
str_list = []
for i in range(100000):
    str_list.append(str(random.randint(1, 989999999)))

df = pd.DataFrame()

In [12]:
# int comparison:

num_time_list = []

for i in range(100000):
    x = random.randint(0,989999999)
    t1 = time.time()
    if( x == num_list[random.randint(0,99999)] ):
        t2 = time.time()
        num_time_list.append((t2-t1)*1000*1000) # micro-seconds
    else:
        t2 = time.time()
        num_time_list.append((t2-t1)*1000*1000)

In [13]:

str_time_list = []

for i in range(100000):
    x = str(random.randint(0,989999999))
    t1 = time.time()
    if( x == str_list[random.randint(0,99999)] ):
        t2 = time.time()
        str_time_list.append((t2-t1)*1000*1000)
    else:
        t2 = time.time()
        str_time_list.append((t2-t1)*1000*1000)

In [14]:
df = pd.DataFrame( { "int_time" : num_time_list, "str_time" : str_time_list}, columns=["int_time", "str_time"])

In [15]:
df

        int_time   str_time
0      13.828278  23.126602
1       8.821487  11.920929
2       8.821487  10.967255
3       8.344650  10.728836
4      12.159348  10.967255
...          ...        ...
99995   0.953674   0.000000
99996   0.953674   0.953674
99997   0.715256   0.953674
99998   0.953674   0.953674
99999   0.953674   0.953674

[100000 rows x 2 columns]

In [16]:
df.describe()

            int_time       str_time
count  100000.000000  100000.000000
mean        1.102266       1.148155
std         1.343687       1.303325
min         0.000000       0.000000
25%         0.953674       0.953674
50%         0.953674       0.953674
75%         1.192093       1.192093
max       281.810760     274.896622

In [4]:
# We want to build a list of 17 digit integers and strings
min_range_start = 1000000000000000
max_range_start = (min_range_start * 10 - 1)

In [28]:
num_list = []
for i in range(100000):
    num_list.append(random.randint(min_range_start, max_range_start))

str_list = []
for i in range(100000):
    str_list.append(random.randint(min_range_start, max_range_start))

In [30]:
num_time_list = []

for i in range(100000):
    x = random.randint(min_range_start,max_range_start)
    t1 = time.time()
    if( x == num_list[random.randint(0,99999)] ):
        t2 = time.time()
        num_time_list.append((t2-t1)*1000*1000) # micro-seconds
    else:
        t2 = time.time()
        num_time_list.append((t2-t1)*1000*1000) 

str_time_list = []

for i in range(100000):
    x = str(random.randint(min_range_start,max_range_start))
    t1 = time.time()
    if( x == str_list[random.randint(0,99999)] ):
        t2 = time.time()
        str_time_list.append((t2-t1)*1000*1000)
    else:
        t2 = time.time()
        str_time_list.append((t2-t1)*1000*1000)

In [31]:
df2 = pd.DataFrame( { "int_time" : num_time_list, "str_time" : str_time_list}, columns=["int_time", "str_time"])

In [33]:
df2.describe()

            int_time       str_time
count  100000.000000  100000.000000
mean        1.072869       1.095722
std         1.621052       0.664009
min         0.000000       0.000000
25%         0.953674       0.953674
50%         0.953674       0.953674
75%         1.192093       1.192093
max       312.089920      65.088272

In [5]:
# so it doesn't matter for direct comparison
# what about look up from a list?
# increasing complexity

num_list = []
for i in range(100000):
    num_list.append(random.randint(min_range_start, max_range_start))

str_list = []
for i in range(100000):
    str_list.append(str(random.randint(min_range_start, max_range_start)))

In [8]:
num_time_list = []

for i in range(100000):
    x = random.randint(min_range_start,max_range_start)
    t1 = time.time()
    if( x in num_list):
        t2 = time.time()
        num_time_list.append(int((t2-t1)*1000*1000)) # micro-seconds
    else:
        t2 = time.time()
        num_time_list.append(int((t2-t1)*1000*1000))

In [9]:

str_time_list = []

for i in range(100000):
    x = str(random.randint(min_range_start,max_range_start))
    t1 = time.time()
    if( x in str_list ):
        t2 = time.time()
        str_time_list.append(int((t2-t1)*1000*1000))
    else:
        t2 = time.time()
        str_time_list.append(int((t2-t1)*1000*1000))

In [10]:
df4 = pd.DataFrame( { "int_time" : num_time_list, "str_time" : str_time_list}, columns=["int_time", "str_time"])

In [11]:
df4.describe()

            int_time       str_time
count  100000.000000  100000.000000
mean      563.124460     746.352500
std        14.824741      18.880238
min       544.000000     720.000000
25%       555.000000     741.000000
50%       561.000000     743.000000
75%       566.000000     745.000000
max      1687.000000    2437.000000